Comments on the build system discovered while doing CMake conversion.

dbget   = PERDB -e 

manager/pact.env  - environment variable to use

dsys
   scripts/cfgsys

   case config:

      perdb    Uses files with suffix .db, .log, .pid

      $(PSY_Root)/bin/pco -f $(PSY_Root)/etc/cfg     # path to database
                          -pact
                          -env $(PSY_Base)/manager/pact.env
                          -l                         # append to log file
                          -g                         # build debuggable version
                          -ft                        # hypen delimited feature list
                          -s lnx-2.12-o              # explicit system id
                          gen/lnx-2.12-o/empress
          Reads program-init
          perdb -f $(PSY_Root)/etc/cfg -l -c  -s   # log, create, server
          writes cfg.inp.pco
                 cfg.inp.db
                 cfg.inp.pl

        manager/std/program-fin
          write/package-links
          write/cfg.db
             writes cfg.pco
                    cfg.db
                    cfg.pl
          write/make-def
             make-def.c
          write/make-macros

          write/smake
          write/dmake
            smake clean
            dmake generate
               bproto
                  blang


   case build:
       cd score; pact generate
       pact -log $Log -f $EtcDir/Makefile


dmake
  score/scmkut.c

make-macros
  PACTTmpDir = ${PSY_TmpDir}/obj ->  ${PkgBuild}
  PACTSrcDir = ../.. $cwd        ->  ${PkgSource}

  patch-fpe


out of source build
  if PSY_base == PSY_build
     original build layout
  else
     cmake style out of source build
  endif


standard Make targets:
  generate
  devlib
  devgen
  libinstall
  archinstall
  incinstall
  bininstall
  scminstall
  extinstall
  scrinstall
  man1install
  man3install