;
; PDBVIEW.RC - standard PDBView init file
;
; Source Version: 3.0
; Software Release #: LLNL-CODE-422942
;
; include "cpyright.h"
;

(background-color-flag white)
(border-width 2)

; Window Controls

;(window-origin-x 0.05)
;(window-origin-y 0.15)
;(window-width 0.48)
;(window-height 0.48)

; Viewport Controls

;(view-origin-x 0.18)
;(view-origin-y 0.2)
;(view-width 0.75)
;(view-height 0.75)

;(open-device "WINDOW" "COLOR" "PDBView")

(ps-flag on)
(print-flag off)
(print-stats off)

(load "spokes.scm")

